/*

* Project Title: PROJECT: UX TOOLING 
* Author Email: kayodeibiyemi92@gmail.com
* GitHub Link: https://github.com/Kardinalkay/project-one-ux-tooling
* Author URI: www.codesector.com
* Start date: 20-4-2020
  __   __                           
 |  |_/  /
 |      / 
 |     /    __ ____  __
 |  '  \  / _` | |  | |          
 |  |\  \| (_| | |__| |
 |__| \__\\__,_|____. |         
                    | |  
                    | |
              |_______|  
                                                                  
=====================================================================*/

/*basic*/

:root {
  /*primary colours*/
  --blue: #000033;
  --yellow: #DEB406;
  --link: #007BFF;

  /*shades of grey*/
  --grey: #222;
  --light_grey: #efefef;
  --mid_grey: #f2f2f2;
  --black: #000;
  --white: #fff;

  /*font families*/
  --font_primary: "Khand", Tahoma, Calibri, sans-serif;
  --font_secondary: Space Mono, Tahoma, Calibri, sans-serif;
  --font_tertiary: "Century Gothic", Tahoma, Calibri, sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body{
  font-weight: 400;
  line-height: 1.5;
  min-width: 320px;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-family: var(--font_primary);
}

/*Link styles*/
a {
   color: var(--link);
   text-decoration: none;
   background-color: transparent;
   transition: 200ms;
}
a:hover, a:focus {
  color: #d9534f;
  text-decoration: none;
  outline: none;
}

/*Lists*/
ul, ol {
  list-style: none;
}
ul li:not(header ul li) {
  margin-bottom: 1em;
}
ul li:last-of-type {
  margin-right: 0;
}


/*document*/

.page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  width: 100%;
}
